body {
  width: 100vw;
}

.overview {
  text-align: center;
}

.logo {
  margin: 50px;
  width: 250px;
  height: auto;
}

.table {
    margin-left: 50px;
}

.delete-button {
  visibility: hidden;
  display: inline-block;
}

.table-row:hover .btn {
  visibility: visible;
  background-color: red;
}

.detail-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 100px 100px 100px;
}

.stockdata {
  padding: 30px;
}

.stockdata div {
  padding: 5px;
  margin-left: 10px;
}